@model CategoryModel

@using Nop.Web.Models.Catalog;

@if (Model != null)
{
    <div class="clr"></div>
    <div class="navigat">
        <h2>@Model.Name @T("Products.Categories.Bestsellers")</h2>
        <div class="viewallcat">
            @foreach (var item in Model.ManufacturerNavigation.Manufacturers)
            {
                <a href="@Url.RouteUrl("Manufacturer", new { SeName = item.SeName })" class="mobile">@item.Name</a>
            }
            <a href="@Url.RouteUrl("Category", new { SeName = Model.SeName })" class="mobile">@T("Common.Viewall")</a>
        </div>
    </div>


    <ul class="homeproduct ">
        @foreach (var item in Model.Products)
        {
            @Html.Partial("_ProductBox2", item)
        }
    </ul>

}