@model HeaderLinksModel
@using Nop.Web.Models.Common;
<div class="rect">

    @if (Model.ShoppingCartEnabled)
    {
        <div class="span2" id="topcartlink1">
            <div class="tc wf hvr-wobble-horizontal">
                <a href="@Url.RouteUrl("ShoppingCart")">
                    <i class="iconblm-online"></i>
                    <p>@T("ShoppingCart")</p>
                    @if (Model.ShoppingCartItems > 0)
                    {
                        <div class="cart-number">@T("ShoppingCart.HeaderQuantity", Model.ShoppingCartItems)</div>
                    }
                </a>
            </div>
        </div>
    }

    @if (Model.IsAuthenticated)
    {

        @*<div class="span2">
            <div class="tc wf spinaround">
                <a href="@Url.RouteUrl("Logout")">
                    <i class="iconblm-suachua"></i>
                    <p>@T("Account.Logout")</p>
                </a>
            </div>
        </div>*@

        <div class="span2">
            <div class="tc wf spinaround">
                <a href="@Url.RouteUrl("CustomerInfo")">
                    <i class="iconblm-suachua"></i>
                    <p>@T("Account.MyAccount")</p>
                </a>
            </div>
        </div>
    }
    else
    {
        <div class="span2">
            <div class="tc wf spinaround">
                <a href="@Url.RouteUrl("Login")">
                    <i class="iconblm-login"></i>
                    <p>@T("Account.Login")</p>
                </a>
            </div>
        </div>

        @*<div class="span2">
            <div class="tc wf spinaround">
                <a href="@Url.RouteUrl("Register")">
                    <i class="iconblm-register"></i>
                    <p>@T("Account.Register")</p>
                </a>
            </div>
        </div>*@


    }

    @if (Model.ShoppingCartEnabled)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                $('.header').on('mouseenter', '#topcartlink1', function () {
                    $('#flyout-cart').addClass('active');
                });
                $('.header').on('mouseleave', '#topcartlink1', function () {
                    $('#flyout-cart').removeClass('active');
                });
                $('.header').on('mouseenter', '#flyout-cart', function () {
                    $('#flyout-cart').addClass('active');
                });
                $('.header').on('mouseleave', '#flyout-cart', function () {
                    $('#flyout-cart').removeClass('active');
                });
            });
        </script>
    }
</div>

@*<div class="header-links">
        <ul>
            @Html.Widget("header_links_before")
            @if (Model.IsAuthenticated)
            {
                <li><a href="@Url.RouteUrl("CustomerInfo")" class="ico-account">@T("Account.MyAccount")</a></li>
                <li><a href="@Url.RouteUrl("Logout")" class="ico-logout">@T("Account.Logout")</a></li>
            }
            else
            {
                <li><a href="@Url.RouteUrl("Register")" class="ico-register">@T("Account.Register")</a></li>
                <li><a href="@Url.RouteUrl("Login")" class="ico-login">@T("Account.Login")</a></li>
            }
            @if (Model.AllowPrivateMessages)
            {
                <li>
                    <a href="@Url.RouteUrl("PrivateMessages", new { tab = "" })" class="ico-inbox">
                        <span class="inbox-label">@T("PrivateMessages.Inbox")</span>
                        <span class="inbox-unread">@Model.UnreadPrivateMessages</span>
                    </a>
                </li>
            }
            @if (Model.WishlistEnabled)
            {
                <li>
                    <a href="@Url.RouteUrl("Wishlist")" class="ico-wishlist">
                        <span class="wishlist-label">@T("Wishlist")</span>
                        <span class="wishlist-qty">@T("Wishlist.HeaderQuantity", Model.WishlistItems)</span>
                    </a>
                </li>
            }
            @if (Model.ShoppingCartEnabled)
            {
                <li id="topcartlink">
                    <a href="@Url.RouteUrl("ShoppingCart")" class="ico-cart">
                        <span class="cart-label">@T("ShoppingCart")</span>
                        <span class="cart-qty">@T("ShoppingCart.HeaderQuantity", Model.ShoppingCartItems)</span>
                    </a>
                </li>
            }
            @Html.Widget("header_links_after")
        </ul>
        @if (Model.AllowPrivateMessages && !string.IsNullOrEmpty(Model.AlertMessage))
        {
            //new private message notification
            <script type="text/javascript">
                $(document).ready(function () {
                    displayPopupNotification('@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.AlertMessage))', 'success', false);
                });
            </script>
        }
        @if (Model.ShoppingCartEnabled)
        {
            <script type="text/javascript">
                $(document).ready(function () {
                    $('.header').on('mouseenter', '#topcartlink', function () {
                        $('#flyout-cart').addClass('active');
                    });
                    $('.header').on('mouseleave', '#topcartlink', function () {
                        $('#flyout-cart').removeClass('active');
                    });
                    $('.header').on('mouseenter', '#flyout-cart', function () {
                        $('#flyout-cart').addClass('active');
                    });
                    $('.header').on('mouseleave', '#flyout-cart', function () {
                        $('#flyout-cart').removeClass('active');
                    });
                });
            </script>
        }
    </div>*@
